@use '../../variables.scss';

.tts-container {
    display: flex;
    height: 100%;
    .tts-main {
        width: 65%;
        display: flex;
        flex-direction: column;
        background-color: variables.$gray-800;
        padding: 15px;
        .tts-input {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 15px;
            padding: 15px;
            background-color: variables.$gray-800;
            .text-area {
                flex:1;
                padding: 15px;
            }
            .actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                .converted-speech-player {
                    flex: 1;
                }
            }
        }
        .selected-voice-wrapper {
            padding: 15px;
            .selected-voice-title {
                color: variables.$gray-50;
                margin-bottom: 15px;
            }
            .voice-item {
                // margin: 15px;
                border: 1px solid variables.$gray-700;
                border-radius: 3px;
            }
        }
    }
    .sidebar {
        flex: 1;
        background-color: variables.$gray-900;
        color: variables.$gray-50;
        .voices-container {
            height: 100%;
        }
    }
}
@media (max-width: 768px) {
    .tts-container {
        flex-direction: column;
        overflow-y: scroll;
        .tts-main {
            width: 100%;
            position: sticky;
            top: 0;
            z-index: 200;
            .tts-input {
                min-height: 175px;
            }
        }
    }
}