@use '../../variables.scss';

.play-audio-btn {
    background-color: variables.$gray-50;
    color: variables.$gray-900;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}